<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <link rel=stylesheet href=./styles/index.css>
  <title>GroceryList</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.4.0"></script>

</head>
<body>

  <div class="list">

  </div>
  <div id="itemList">
  <section class="head">
    Grocery List of User {{res}} {{req}}
  </section>
    <div v-for="itm,index in items">
      <span>{{itm}}</span><button v-on:click="itemDell(index)">Remove</button><br/>
    </div>
    <button v-on:click="counter += 1">+1</button>
    <input type="text" v-model="item" v-on:keyup.enter="itemAdd" />
    <button v-on:click="itemAdd">add</button>
  </div>
</body>


<script>
var appCl = new Vue({
  el: '#itemList',
  data: {
    counter: 0,
    items : [],
    item: '',
    req : '',
    res:{}
  },

  mounted () {
    this.$http.get('/session').then(response => {
      console.log(this);
      console.log(response.body);
      this.items = response.body;
      this.req = response.session.id;
    }, response => {
      console.log('error !!!');
      // error callback
    });

  },

  methods: {

    itemAdd: function () {
      if (this.item==''){
        alert ('item is empty');
        return;
      }
      if (this.items.indexOf(this.item)!=-1)
      {
        alert ('item already exists');
        return;
      }
      console.log(this.item);
      this.$http.get('/add?item='+this.item).then(response => {
        console.log(this);
        console.log(response.body);
        this.item ='';
        this.items = response.body;
      }, response => {
        console.log('error !!!');
        // error callback
      });

    },
    itemDell: function(index){
      console.log(index);
      // this.$delete(this.items, index);
      this.$http.get('/delItem?index='+index).then(
        response => {
          alert('item deleted');
          this.items = response.body;

        },responseOnError => {
          alert('error deconnection')

        })

      },
      deconnect: function (){
        this.$http.get('/session').then(
          response => {
            alert('session deleted');

          },responseOnError => {
            alert('error deconnection')

          })
        }
      }
    });

  </script>


  <script src=./scripts/index.js></script>

  </html>
