//colors
$white: #fff;
$white_50: rgba(255, 255, 255, 0.5);
$black_20: rgba(0, 0, 0, 0.2);
$black_10: rgba(0, 0, 0, 0.1);
$color_mercury: #e6e6e6;
$blue_druide: #1d76bc;
$color_mountain_mist: #999;
$black_0_3: rgba(0, 0, 0, 0.003);
$black_3: rgba(0,0,0,0.03);
$color_tapa: #737373;
$color_gallery: #ededed;
$color_alto: #d9d9d9;
$color_eunry: #cc9a9a;
$color_matrix: #af5b5e;
$color_well_read_10: rgba(255, 47, 47, 0.1);

//fonts
$font_0: Roboto;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font: 14px $font_0, $font_1, $font_2, $font_3;
	background: #f5f5f5;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	font-smoothing: antialiased;
	font-weight: 300;
}


button {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

h1 {
	top: -95px;
	width: 100%;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	color: $blue_druide;
	text-rendering: optimizeLegibility;
}

.itemapp {
	background: $white;
	position: relative;
	// box-shadow: 0 2px 4px 0 $black_20, 0 25px 50px 0 $black_10;
	input::-webkit-input-placeholder {
		font-style: italic;
		font-weight: 300;
		color: $color_mercury;
	}
	input::-moz-placeholder {
		font-style: italic;
		font-weight: 300;
		color: $color_mercury;
	}
	input::input-placeholder {
		font-weight: 300;
		color: $color_mercury;
	}
}


.new-item {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid $color_mountain_mist;
	box-shadow: inset 0 -1px 5px 0 $black_20;
	box-sizing: border-box;
	font-smoothing: antialiased;
	padding: 16px 16px 16px 60px;
	border: none;
	box-shadow: inset 0 -2px 1px $black_3;
}


.item-list {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		position: relative;
		font-size: 24px;
		border-bottom: 1px solid $color_gallery;
		&:last-child {
			border-bottom: none;
		}
		.toggle {
			text-align: center;
			width: auto;
			height: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 20px;
			margin: auto 0;
			border: none;
		}
		label {
			white-space: pre-line;
			word-break: break-all;
			padding: 15px 60px 15px 15px;
			margin-left: 45px;
			display: block;
		}
		.destroy {
			display: none;
			position: absolute;
			top: 0;
			right: 10px;
			bottom: 0;
			width: 40px;
			height: 40px;
			margin: auto 0;
			font-size: 30px;
			color: $color_eunry;
			margin-bottom: 11px;
			transition: color 0.2s ease-out;
			&:hover {
				color: $color_matrix;
			}
			&:after {
				content: '✘';
			}
		}
	}
}

.footer {
	color: $color_tapa;
	padding: 10px 15px;
	height: 20px;
	text-align: center;

}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
	li {
		display: inline;
		button {
			color: inherit;
			margin: 3px;
			padding: 3px 7px;
			text-decoration: none;
			border: 3px solid transparent;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 3px;
			&:hover {
				border-color: $color_well_read_10;
			}
		}
	}
}

// Size checkbox for mobile

[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
