doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/styles/styles.css')
    title GroceryList
    script(src='https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js')
    script(src='https://cdn.jsdelivr.net/npm/vue-resource@1.4.0')
  body
    #itemapp
      .header
        h1 Grocery List of {{userId}}
      #itemList.item-list
        input.new-item(type='text', v-model='item', v-on:keyup.enter='itemAdd' placeholder="add an item to list" autofocus)
        ul.item-list(v-for='itm,index in shownItems')
          li
            div.view 
              input.toggle(type="checkbox" class="button" v-model="itm.checked" v-on:click='itemChng(index)')
              label {{itm.text}}
              button.destroy(v-on:click='itemDell(index)', v-on:keyup.enter='itemDell(index)')
      footer.footer
        ul.filters
          li 
            button(v-on:click='itemAdd', v-on:keyup.enter='itemAdd') add
          li
            button(v-on:click='showAll', v-on:keyup.enter='showAll') all
          li
            button(v-on:click='showUndone', v-on:keyup.enter='showUndone') to buy
          li
            button(v-on:click='showDone', v-on:keyup.enter='showDone') bought
          li
            button(v-on:click='deconnect', v-on:keyup.enter='deconnect') deconnection



    script(src='/scripts/index.js')
